<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GREENPLY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="TestKey" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <GREENPLY.Properties.Settings>
      <setting name="LocalFolderPath" serializeAs="String">
        <value>C:\Users\Administrator\Documents\GreenplyReports\</value>
      </setting>
      <setting name="ExistingQRCodePrinterIP" serializeAs="String">
        <value>192.168.100.105</value>
      </setting>
      <setting name="ExistingQRCodePrinterPort" serializeAs="String">
        <value>9100</value>
      </setting>
      <setting name="ServiceUserID" serializeAs="String">
        <value>BARCODE</value>
      </setting>
      <setting name="ServiceUserPassword" serializeAs="String">
        <value>barcode@123</value>
      </setting>
      <setting name="ExistingStackQRCodePrinterIP" serializeAs="String">
        <value>192.168.100.105</value>
      </setting>
      <setting name="ExistingStackQRCodePrinterPort" serializeAs="String">
        <value>9100</value>
      </setting>
      <setting name="VendorQRCodePrinterIP" serializeAs="String">
        <value>192.168.100.105</value>
      </setting>
      <setting name="VendorQRCodePrinterPort" serializeAs="String">
        <value>9100</value>
      </setting>
      <setting name="PrintingLocationType" serializeAs="String">
        <value>HUB</value>
      </setting>
      <setting name="PrintingSection" serializeAs="String">
        <value>3010_HUB</value>
      </setting>
      <setting name="PrintMaterialType1" serializeAs="String">
        <value>TRADING PLY</value>
      </setting>
      <setting name="PrintMaterialType2" serializeAs="String">
        <value>TRADING DOOR</value>
      </setting>
      <setting name="QRCodePrinterIP" serializeAs="String">
        <value>192.168.100.105</value>
      </setting>
      <setting name="QRCodePrinterPort" serializeAs="String">
        <value>9100</value>
      </setting>
      <setting name="UseSMTP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>https://outlook.office365.com/ews/exchange.asmx</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SMTPUser" serializeAs="String">
        <value>qrcode@greenply.com</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>Qrc0d@321</value>
      </setting>
      <setting name="ReceiverEmail" serializeAs="String">
        <value>krish.kashyap@barcodeindia.com</value>
      </setting>
      <setting name="SenderEmail" serializeAs="String">
        <value>qrcode@greenply.com</value>
      </setting>
      <setting name="SMTPSubject" serializeAs="String">
        <value>QR CODE GENERATED - KOLKATA HUB</value>
      </setting>
      <setting name="ProxyIP" serializeAs="String">
        <value>192.168.20.4</value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VendorSMTPSubject" serializeAs="String">
        <value>QR CODE PRINTED - KOLKATA HUB - PLY</value>
      </setting>
    </GREENPLY.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="GIL_WS" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10"/>
          <httpTransport authenticationScheme="Basic" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://GILS4QAPP:8000/sap/bc/srt/rfc/sap/zbc_tst_ws/100/gil_ws/gil_ws" binding="customBinding" bindingConfiguration="GIL_WS" contract="GreenplyERPPostingService.Zbc_tst_ws" name="GIL_WS"/>
    </client>
  </system.serviceModel>
</configuration>
